@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: red;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    text-align: justify;
}