@charset "UTF-8";

/* Estilos para impressoras */

* {
    margin: 5px;
    padding: 5px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1em;
}

menu {
    display: none;
}

article {
    width: 100%;
}