@charset "UTF-8";

/* Em HTML é id = em CSS é #
em HTML é class = em CSS é . */

body {
    background-color: rgb(202, 255, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: rgb(255, 160, 45);
}
h1#principal {
    text-align: center;
    background-color: black;
}
h2 {
    color: rgb(141, 101, 40);
}
.basico {
    color: aqua;
}
.intermediario {
    color: rgb(0, 60, 255);
}
.avancado {
    color: rgb(0, 255, 55);
}
.italico {
    font-style: italic;
}